In [1]:
import pandas as pd #tablas https://pandas.pydata.org/docs/user_guide/pyarrow.html
import numpy as np #estadistica https://numpy.org/doc/1.25/user/index.html#user
import matplotlib.pyplot as plt #gráficos https://matplotlib.org/stable/plot_types/index.html
import seaborn as sns #gráficos https://seaborn.pydata.org/tutorial/regression.html
from sklearn import linear_model #modelo de regresion https://scikit-learn.org/stable/
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from datetime import datetime #https://docs.python.org/3/library/datetime.html
from datetime import timedelta #this is a good time to learn about dates and timestamps. You can find some info here:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import ttest_1samp
import scipy.stats as st
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.plotting import plot_decision_regions
import pandas as pd
import numpy as np
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication
from getpass import getpass  # To get the password without showing the input

In [30]:
#https://www.youtube.com/watch?v=NjEc7PB0TxQ&ab_channel=JieJenn

Checking how the tutorial works

In [2]:
import time
import datetime

In [3]:
ticker = "TSLA"
period1 = int(time.mktime(datetime.datetime(2013,1,1,23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime.combine(datetime.datetime.now().date(), datetime.time(23, 59)).timetuple())) #TODAY 
interval = "1d" # week= 1wk month= 1

In [4]:
ticker = "TSLA"
period1 = int(time.mktime(datetime.datetime(2013,1,1,23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime.combine(datetime.datetime.now().date(), datetime.time(23, 59)).timetuple())) #TODAY 
interval = "1d" # week= 1wk month= 1

query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [5]:
df =  pd.read_csv(query_string)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-01-02,2.333333,2.363333,2.314000,2.357333,2.357333,17922000
1,2013-01-03,2.345333,2.363333,2.316667,2.318000,2.318000,11130000
2,2013-01-04,2.320000,2.320000,2.261333,2.293333,2.293333,10110000
3,2013-01-07,2.320000,2.320000,2.260000,2.289333,2.289333,6630000
4,2013-01-08,2.300000,2.300000,2.207333,2.245333,2.245333,19260000
...,...,...,...,...,...,...,...
2677,2023-08-22,240.250000,240.820007,229.550003,233.190002,233.190002,130597900
2678,2023-08-23,229.339996,238.979996,229.289993,236.860001,236.860001,101077600
2679,2023-08-24,238.660004,238.919998,228.179993,230.039993,230.039993,99777400
2680,2023-08-25,231.309998,239.000000,230.350006,238.589996,238.589996,106345900
2681,2023-08-28,242.580002,244.380005,235.350006,238.820007,238.820007,107463700

Turning it into a function for all companies ID

In [6]:
def fetch_stock_data(tickers, interval="1d"):
    period1 = int(time.mktime(datetime.datetime(2013, 1, 1, 23, 59).timetuple()))
    period2 = int(time.mktime(datetime.datetime.combine(datetime.datetime.now().date(), datetime.time(23, 59)).timetuple()))
    
    dataframes = []
    for ticker in tickers:
        query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"
        
        data = pd.read_csv(query_string)
        data["company_id"] = ticker
        dataframes.append(data)
    
    combined_data = pd.concat(dataframes, ignore_index=True)

    cols = combined_data.columns.tolist()
    cols = ['company_id'] + [col for col in cols if col != 'company_id']
    combined_data = combined_data[cols]
    
    return combined_data

tickers = ["TSLA", "META", "NIO", "AMZN", "MSFT", "AAPL", "GOOGL", ] #FILL WITH COMPANY_ID ONCE SQL SERVER IS READY
data = fetch_stock_data(tickers)

data

,company_id,Date,Open,High,Low,Close,Adj Close,Volume
0,TSLA,2013-01-02,2.333333,2.363333,2.314000,2.357333,2.357333,17922000
1,TSLA,2013-01-03,2.345333,2.363333,2.316667,2.318000,2.318000,11130000
2,TSLA,2013-01-04,2.320000,2.320000,2.261333,2.293333,2.293333,10110000
3,TSLA,2013-01-07,2.320000,2.320000,2.260000,2.289333,2.289333,6630000
4,TSLA,2013-01-08,2.300000,2.300000,2.207333,2.245333,2.245333,19260000
...,...,...,...,...,...,...,...,...
17335,GOOGL,2023-08-22,128.509995,130.279999,128.320007,129.080002,129.080002,22067500
17336,GOOGL,2023-08-23,130.179993,133.410004,129.869995,132.369995,132.369995,27819700
17337,GOOGL,2023-08-24,133.949997,134.250000,129.570007,129.779999,129.779999,28500700
17338,GOOGL,2023-08-25,129.539993,130.759995,127.250000,129.880005,129.880005,26744800
17339,GOOGL,2023-08-28,131.309998,132.539993,130.139999,131.009995,131.009995,20526900

Bringing company_id from the companies dataframe in raw_data SQL

In [9]:
password = getpass()

In [10]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/raw_data'
engine = create_engine(connection_string)
query = '''select c.company_id FROM companies as c;'''

companies = pd.read_sql_query(query, engine)

In [11]:
companies

  company_id
0       TSLA
1       META
2       GOOG
3        NIO
4       AAPL
5       AMZN
6       MSFT

In [12]:
companies["company_id"].unique()

array(['TSLA', 'META', 'GOOG', 'NIO', 'AAPL', 'AMZN', 'MSFT'],
      dtype=object)

In [13]:
def fetch_stock_data(tickers, interval="1d"):
    period1 = int(time.mktime(datetime.datetime(2013, 1, 1, 23, 59).timetuple()))
    period2 = int(time.mktime(datetime.datetime.combine(datetime.datetime.now().date(), datetime.time(23, 59)).timetuple()))
    
    dataframes = []
    for ticker in tickers:
        query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"
        
        data = pd.read_csv(query_string)
        data["company_id"] = ticker
        dataframes.append(data)
    
    combined_data = pd.concat(dataframes, ignore_index=True)

    cols = combined_data.columns.tolist()
    cols = ['company_id'] + [col for col in cols if col != 'company_id']
    combined_data = combined_data[cols]
    
    return combined_data

tickers = companies["company_id"].unique()
stock_information = fetch_stock_data(tickers)

stock_information

,company_id,Date,Open,High,Low,Close,Adj Close,Volume
0,TSLA,2013-01-02,2.333333,2.363333,2.314000,2.357333,2.357333,17922000
1,TSLA,2013-01-03,2.345333,2.363333,2.316667,2.318000,2.318000,11130000
2,TSLA,2013-01-04,2.320000,2.320000,2.261333,2.293333,2.293333,10110000
3,TSLA,2013-01-07,2.320000,2.320000,2.260000,2.289333,2.289333,6630000
4,TSLA,2013-01-08,2.300000,2.300000,2.207333,2.245333,2.245333,19260000
...,...,...,...,...,...,...,...,...
17335,MSFT,2023-08-22,325.500000,326.079987,321.459991,322.459991,322.459991,16102000
17336,MSFT,2023-08-23,323.820007,329.200012,323.459991,327.000000,327.000000,21166400
17337,MSFT,2023-08-24,332.850006,332.980011,319.959991,319.970001,319.970001,23281400
17338,MSFT,2023-08-25,321.470001,325.359985,318.799988,322.980011,322.980011,21671400
17339,MSFT,2023-08-28,325.660004,326.149994,321.720001,323.700012,323.700012,14802100

CREATE TO SQL (ONLY DO ONCE)

In [58]:
#download to a csv, this will be the original starting point ONLY DO ONCE
#stock_information.to_csv("stock_informationT0.csv", index=False)

In [14]:
stock_informationT0 = pd.read_csv('stock_informationT0.csv')
stock_informationT0

,company_id,Date,Open,High,Low,Close,Adj Close,Volume
0,TSLA,2013-01-02,2.333333,2.363333,2.314000,2.357333,2.357333,17922000
1,TSLA,2013-01-03,2.345333,2.363333,2.316667,2.318000,2.318000,11130000
2,TSLA,2013-01-04,2.320000,2.320000,2.261333,2.293333,2.293333,10110000
3,TSLA,2013-01-07,2.320000,2.320000,2.260000,2.289333,2.289333,6630000
4,TSLA,2013-01-08,2.300000,2.300000,2.207333,2.245333,2.245333,19260000
...,...,...,...,...,...,...,...,...
17328,MSFT,2023-08-21,317.929993,322.769989,317.040009,321.880005,321.880005,24040000
17329,MSFT,2023-08-22,325.500000,326.079987,321.459991,322.459991,322.459991,16102000
17330,MSFT,2023-08-23,323.820007,329.200012,323.459991,327.000000,327.000000,21166400
17331,MSFT,2023-08-24,332.850006,332.980011,319.959991,319.970001,319.970001,23281400
17332,MSFT,2023-08-25,321.470001,325.359985,318.799988,322.980011,322.980011,21671400

In [61]:
#stock_informationT0.to_sql('stock_information', engine, if_exists='append', index=False)
#DONE ONLY ONCE

17333

ADD NEW INFORMATION

In [15]:
update_stock_nan = stock_information[~stock_information.isin(stock_informationT0)]
update_stock_nan

,company_id,Date,Open,High,Low,Close,Adj Close,Volume
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
17335,MSFT,2023-08-22,325.500000,326.079987,321.459991,322.459991,322.459991,16102000.0
17336,MSFT,2023-08-23,323.820007,329.200012,323.459991,327.000000,327.000000,21166400.0
17337,MSFT,2023-08-24,332.850006,332.980011,319.959991,319.970001,319.970001,23281400.0
17338,MSFT,2023-08-25,321.470001,325.359985,318.799988,322.980011,322.980011,21671400.0
17339,MSFT,2023-08-28,325.660004,326.149994,321.720001,323.700012,323.700012,14802100.0

In [16]:
update_stock = update_stock_nan.dropna()
update_stock

,company_id,Date,Open,High,Low,Close,Adj Close,Volume
2681,TSLA,2023-08-28,242.580002,244.380005,235.350006,238.820007,238.820007,107463700.0
5362,META,2023-08-25,286.130005,288.390015,276.029999,285.500000,285.500000,23685000.0
5363,META,2023-08-28,288.000000,291.450012,285.799988,290.260010,290.260010,14229200.0
8043,GOOG,2023-08-24,134.727005,134.970001,130.300003,130.419998,130.419998,18680400.0
8044,GOOG,2023-08-25,130.139999,131.399994,128.039993,130.690002,130.690002,20671000.0
8045,GOOG,2023-08-28,132.080002,133.240005,130.850006,131.789993,131.789993,16706400.0
9290,NIO,2023-08-23,10.560000,11.000000,10.500000,10.840000,10.840000,30405000.0
9291,NIO,2023-08-24,10.960000,11.110000,10.620000,10.640000,10.640000,27131700.0
9292,NIO,2023-08-25,10.580000,10.870000,10.480000,10.830000,10.830000,31545700.0
9293,NIO,2023-08-28,11.050000,11.130000,10.700000,11.020000,11.020000,41639400.0
11971,AAPL,2023-08-22,177.059998,177.679993,176.250000,177.229996,177.229996,42084200.0
11972,AAPL,2023-08-23,178.520004,181.550003,178.330002,181.119995,181.119995,52722800.0
11973,AAPL,2023-08-24,180.669998,181.100006,176.009995,176.380005,176.380005,54945800.0
11974,AAPL,2023-08-25,177.380005,179.149994,175.820007,178.610001,178.610001,51418700.0
11975,AAPL,2023-08-28,180.089996,180.589996,178.550003,180.190002,180.190002,43769700.0
14652,AMZN,2023-08-21,133.740005,135.190002,132.710007,134.679993,134.679993,41442500.0
14653,AMZN,2023-08-22,135.080002,135.649994,133.729996,134.250000,134.250000,32935100.0
14654,AMZN,2023-08-23,134.500000,135.949997,133.220001,135.520004,135.520004,42801000.0
14655,AMZN,2023-08-24,136.399994,136.779999,131.830002,131.839996,131.839996,43646300.0
14656,AMZN,2023-08-25,132.470001,133.869995,130.580002,133.259995,133.259995,44124800.0
14657,AMZN,2023-08-28,133.779999,133.949997,131.850006,133.139999,133.139999,34083100.0
17333,MSFT,2023-08-18,314.489990,318.380005,311.549988,316.480011,316.480011,24744800.0
17334,MSFT,2023-08-21,317.929993,322.769989,317.040009,321.880005,321.880005,24040000.0
17335,MSFT,2023-08-22,325.500000,326.079987,321.459991,322.459991,322.459991,16102000.0
17336,MSFT,2023-08-23,323.820007,329.200012,323.459991,327.000000,327.000000,21166400.0
17337,MSFT,2023-08-24,332.850006,332.980011,319.959991,319.970001,319.970001,23281400.0
17338,MSFT,2023-08-25,321.470001,325.359985,318.799988,322.980011,322.980011,21671400.0
17339,MSFT,2023-08-28,325.660004,326.149994,321.720001,323.700012,323.700012,14802100.0

In [17]:
#update_stock.to_sql('stock_information', engine, if_exists='append', index=False)

28

EVERYTIME THIS IS CLICKED, WE NEED TO CHANGE T0 and so we can use it the next date. T0 created the 28/08/2023 and update 29/08/2023