In [96]:
import pandas as pd #tablas https://pandas.pydata.org/docs/user_guide/pyarrow.html
import numpy as np #estadistica https://numpy.org/doc/1.25/user/index.html#user
import matplotlib.pyplot as plt #gráficos https://matplotlib.org/stable/plot_types/index.html
import seaborn as sns #gráficos https://seaborn.pydata.org/tutorial/regression.html
from sklearn import linear_model #modelo de regresion https://scikit-learn.org/stable/
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from datetime import datetime #https://docs.python.org/3/library/datetime.html
from datetime import timedelta #this is a good time to learn about dates and timestamps. You can find some info here:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import ttest_1samp
import scipy.stats as st
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.plotting import plot_decision_regions
import pandas as pd
import numpy as np
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication
from getpass import getpass  # To get the password without showing the input

In [97]:
exdt = pd.read_csv('expiration_date_KEY.csv')

In [98]:
exdt['expiration_date'] = pd.to_datetime(exdt['expiration_date'])

1. BRINGING ALL THE TWEETS 4M

In [99]:
password = getpass()

In [100]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/raw_data'
engine = create_engine(connection_string)
query = '''SELECT * FROM company_tweets_raw_2015_2020;'''

tweets = pd.read_sql_query(query, engine)

In [101]:
tweets

,tweet_id,company_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550803612197457920,AAPL,SentiQuant,2015-01-01,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,550803610825928706,AAPL,SentiQuant,2015-01-01,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
2,550803225113157632,AAPL,MacHashNews,2015-01-01,Rumor Roundup: What to expect when you're expe...,0,0,0
3,550802957370159104,AAPL,WaltLightShed,2015-01-01,"An $AAPL store line in Sapporo Japan for the ""...",2,4,4
4,550802855129382912,AAPL,2waystrading,2015-01-01,$AAPL - Will $AAPL Give Second entry opportuni...,0,0,0
...,...,...,...,...,...,...,...,...
3717959,1212158772015034369,TSLA,StockJoke,2019-12-31,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
3717960,1212159099632267268,TSLA,sweetog76,2019-12-31,$TSLA Very Interesting dude:,0,0,0
3717961,1212159184931717120,TSLA,MelaynaLokosky,2019-12-31,If only 2020 brought more self-awareness to Te...,0,1,0
3717962,1212159838882533376,TSLA,ShortingIsFun,2019-12-31,In 2020 I may start Tweeting out positive news...,0,0,1
3717963,1212160015332728833,TSLA,Commuternyc,2019-12-31,Patiently Waiting for the no twitter sitter tw...,0,0,5

In [102]:
aggregated_tweets= tweets.groupby(['post_date',"company_id"]).agg({'body': 'count', 'retweet_num': 'mean', 'like_num': 'mean', "comment_num":"mean", }).reset_index()

In [103]:
aggregated_tweets_sorted = aggregated_tweets.sort_values(by=['company_id', 'post_date'])
aggregated_tweets_sorted

      post_date company_id  body  retweet_num   like_num  comment_num
0    2015-01-01       AAPL   299     4.180602   1.331104     0.170569
5    2015-01-02       AAPL   867     2.115340   0.504037     0.117647
10   2015-01-03       AAPL   346     0.271676   0.468208     0.069364
15   2015-01-04       AAPL   406     0.812808   0.817734     0.135468
20   2015-01-05       AAPL  1147     0.360070   0.517001     0.126417
...         ...        ...   ...          ...        ...          ...
9102 2019-12-27       TSLA  1150     1.956522  11.660870     1.282609
9107 2019-12-28       TSLA   564     0.865248   7.916667     1.015957
9112 2019-12-29       TSLA   578     1.247405  10.204152     1.122837
9117 2019-12-30       TSLA  1261     1.706582  10.659794     1.197462
9122 2019-12-31       TSLA   918     1.053377   9.303922     0.896514

[9123 rows x 6 columns]

In [104]:
tweets_agg_exp = aggregated_tweets_sorted .merge(exdt, how='left', left_on='post_date', right_on='expiration_date')

In [105]:
tweets_agg_exp

,post_date,company_id,body,retweet_num,like_num,comment_num,expiration_date
0,2015-01-01,AAPL,299,4.180602,1.331104,0.170569,NaT
1,2015-01-02,AAPL,867,2.115340,0.504037,0.117647,NaT
2,2015-01-03,AAPL,346,0.271676,0.468208,0.069364,NaT
3,2015-01-04,AAPL,406,0.812808,0.817734,0.135468,NaT
4,2015-01-05,AAPL,1147,0.360070,0.517001,0.126417,NaT
...,...,...,...,...,...,...,...
9118,2019-12-27,TSLA,1150,1.956522,11.660870,1.282609,NaT
9119,2019-12-28,TSLA,564,0.865248,7.916667,1.015957,NaT
9120,2019-12-29,TSLA,578,1.247405,10.204152,1.122837,NaT
9121,2019-12-30,TSLA,1261,1.706582,10.659794,1.197462,NaT
9122,2019-12-31,TSLA,918,1.053377,9.303922,0.896514,NaT

In [106]:
indexes = tweets_agg_exp [tweets_agg_exp ['expiration_date'].notnull()].index
indexes_0 = np.insert(indexes, 0, 0)

In [107]:
indexes_0

Int64Index([   0,   15,   49,   77,  104,  131,  166,  193,  228,  255,
            ...
            8803, 8831, 8894, 8929, 8957, 8985, 9020, 9048, 9076, 9111],
           dtype='int64', length=296)

In [108]:
def convert_to_ranges(index_array):
    ranges = []
    start_index = index_array[0]
    for i in range(1, len(index_array)):
        ranges.append((start_index, index_array[i]+1))
        start_index = index_array[i]+1
    ranges.append((start_index, index_array[-1]))
    return ranges

index_ranges = convert_to_ranges(indexes_0) 
index_ranges

[(0, 16),
 (16, 50),
 (50, 78),
 (78, 105),
 (105, 132),
 (132, 167),
 (167, 194),
 (194, 229),
 (229, 256),
 (256, 283),
 (283, 318),
 (318, 345),
 (345, 373),
 (373, 408),
 (408, 436),
 (436, 464),
 (464, 499),
 (499, 527),
 (527, 555),
 (555, 590),
 (590, 618),
 (618, 653),
 (653, 681),
 (681, 709),
 (709, 744),
 (744, 772),
 (772, 800),
 (800, 835),
 (835, 863),
 (863, 891),
 (891, 926),
 (926, 954),
 (954, 982),
 (982, 1017),
 (1017, 1045),
 (1045, 1073),
 (1073, 1108),
 (1108, 1136),
 (1136, 1164),
 (1164, 1199),
 (1199, 1227),
 (1227, 1255),
 (1255, 1290),
 (1290, 1318),
 (1318, 1353),
 (1353, 1381),
 (1381, 1409),
 (1409, 1444),
 (1444, 1472),
 (1472, 1500),
 (1500, 1528),
 (1528, 1591),
 (1591, 1626),
 (1626, 1654),
 (1654, 1682),
 (1682, 1717),
 (1717, 1745),
 (1745, 1773),
 (1773, 1808),
 (1808, 1835),
 (1835, 1870),
 (1870, 1898),
 (1898, 1926),
 (1926, 1954),
 (1954, 1989),
 (1989, 2017),
 (2017, 2052),
 (2052, 2080),
 (2080, 2108),
 (2108, 2143),
 (2143, 2171),
 (2171, 2199),
 (2199, 2234),
 (2234, 2262),
 (2262, 2290),
 (2290, 2325),
 (2325, 2353),
 (2353, 2381),
 (2381, 2416),
 (2416, 2444),
 (2444, 2479),
 (2479, 2507),
 (2507, 2535),
 (2535, 2570),
 (2570, 2598),
 (2598, 2626),
 (2626, 2661),
 (2661, 2689),
 (2689, 2717),
 (2717, 2752),
 (2752, 2780),
 (2780, 2808),
 (2808, 2843),
 (2843, 2871),
 (2871, 2899),
 (2899, 2934),
 (2934, 2962),
 (2962, 2990),
 (2990, 3025),
 (3025, 3053),
 (3053, 3081),
 (3081, 3116),
 (3116, 3144),
 (3144, 3179),
 (3179, 3207),
 (3207, 3235),
 (3235, 3270),
 (3270, 3298),
 (3298, 3326),
 (3326, 3354),
 (3354, 3417),
 (3417, 3452),
 (3452, 3480),
 (3480, 3508),
 (3508, 3543),
 (3543, 3571),
 (3571, 3599),
 (3599, 3634),
 (3634, 3661),
 (3661, 3696),
 (3696, 3724),
 (3724, 3752),
 (3752, 3780),
 (3780, 3815),
 (3815, 3843),
 (3843, 3878),
 (3878, 3906),
 (3906, 3934),
 (3934, 3969),
 (3969, 3997),
 (3997, 4025),
 (4025, 4060),
 (4060, 4088),
 (4088, 4116),
 (4116, 4151),
 (4151, 4179),
 (4179, 4207),
 (4207, 4242),
 (4242, 4270),
 (4270, 4305),
 (4305, 4333),
 (4333, 4361),
 (4361, 4396),
 (4396, 4424),
 (4424, 4452),
 (4452, 4487),
 (4487, 4515),
 (4515, 4543),
 (4543, 4578),
 (4578, 4606),
 (4606, 4634),
 (4634, 4669),
 (4669, 4697),
 (4697, 4725),
 (4725, 4760),
 (4760, 4788),
 (4788, 4816),
 (4816, 4851),
 (4851, 4879),
 (4879, 4907),
 (4907, 4942),
 (4942, 4970),
 (4970, 5005),
 (5005, 5033),
 (5033, 5061),
 (5061, 5096),
 (5096, 5124),
 (5124, 5152),
 (5152, 5180),
 (5180, 5243),
 (5243, 5278),
 (5278, 5306),
 (5306, 5334),
 (5334, 5369),
 (5369, 5397),
 (5397, 5425),
 (5425, 5460),
 (5460, 5487),
 (5487, 5522),
 (5522, 5550),
 (5550, 5578),
 (5578, 5606),
 (5606, 5641),
 (5641, 5669),
 (5669, 5704),
 (5704, 5732),
 (5732, 5760),
 (5760, 5795),
 (5795, 5823),
 (5823, 5851),
 (5851, 5886),
 (5886, 5914),
 (5914, 5942),
 (5942, 5977),
 (5977, 6005),
 (6005, 6033),
 (6033, 6068),
 (6068, 6096),
 (6096, 6131),
 (6131, 6159),
 (6159, 6187),
 (6187, 6222),
 (6222, 6250),
 (6250, 6278),
 (6278, 6313),
 (6313, 6341),
 (6341, 6369),
 (6369, 6404),
 (6404, 6432),
 (6432, 6460),
 (6460, 6495),
 (6495, 6523),
 (6523, 6551),
 (6551, 6586),
 (6586, 6614),
 (6614, 6642),
 (6642, 6677),
 (6677, 6705),
 (6705, 6733),
 (6733, 6768),
 (6768, 6796),
 (6796, 6831),
 (6831, 6859),
 (6859, 6887),
 (6887, 6922),
 (6922, 6950),
 (6950, 6978),
 (6978, 7006),
 (7006, 7069),
 (7069, 7104),
 (7104, 7132),
 (7132, 7160),
 (7160, 7195),
 (7195, 7223),
 (7223, 7251),
 (7251, 7286),
 (7286, 7313),
 (7313, 7348),
 (7348, 7376),
 (7376, 7404),
 (7404, 7432),
 (7432, 7467),
 (7467, 7495),
 (7495, 7530),
 (7530, 7558),
 (7558, 7586),
 (7586, 7621),
 (7621, 7649),
 (7649, 7677),
 (7677, 7712),
 (7712, 7740),
 (7740, 7768),
 (7768, 7803),
 (7803, 7831),
 (7831, 7859),
 (7859, 7894),
 (7894, 7922),
 (7922, 7957),
 (7957, 7985),
 (7985, 8013),
 (8013, 8048),
 (8048, 8076),
 (8076, 8104),
 (8104, 8139),
 (8139, 8167),
 (8167, 8195),
 (8195, 8230),
 (8230, 8258),
 (8258, 8286),
 (8286, 8321),
 (8321, 8349),
 (8349, 8377),
 (8377, 8412),
 (8412, 8440),
 (8440, 8468),
 (8468, 8503),
 (8503, 8531),
 (8531, 8559),
 (8559, 8594),
 (8594, 8622),
 (8622, 8657),
 (8657, 8685),
 (8685, 8713),
 (8713, 8748),
 (8748, 8776),
 (8776, 8804),
 (8804, 8832),
 (8832, 8895),
 (8895, 8930),
 (8930, 8958),
 (8958, 8986),
 (8986, 9021),
 (9021, 9049),
 (9049, 9077),
 (9077, 9112),
 (9112, 9111)]

In [109]:
tweet_count = [tweets_agg_exp.loc[start:end, 'body'].sum() for start, end in index_ranges]
tweet_count = tweet_count[:-1]

In [110]:
len(tweet_count)

295

In [111]:
retweet_mean_per = [tweets_agg_exp.loc[start:end, 'retweet_num'].mean() for start, end in index_ranges]

In [112]:
likes_mean_per = [tweets_agg_exp.loc[start:end, 'like_num'].mean() for start, end in index_ranges]

In [113]:
comment_mean_per = [tweets_agg_exp.loc[start:end, 'comment_num'].mean() for start, end in index_ranges]

In [114]:
retweet_mean_per = retweet_mean_per[:-1]
likes_mean_per = likes_mean_per[:-1]
comment_mean_per = comment_mean_per[:-1]

In [115]:
len(retweet_mean_per )

295

In [116]:
tweets_agg = tweets_agg_exp.dropna()

In [117]:
columns_to_drop = ["body", "retweet_num", "like_num", "comment_num", "post_date"]
tweets_agg = tweets_agg.drop(columns=columns_to_drop)

In [120]:
tweets_agg = tweets_agg .reset_index(drop=True)

In [121]:
tweets_agg["tweet_count"] = tweet_count
tweets_agg["likes_mean"] = likes_mean_per
tweets_agg["retweet_mean"] = retweet_mean_per
tweets_agg["comment_mean"] = comment_mean_per

In [122]:
tweets_agg

,company_id,expiration_date,tweet_count,likes_mean,retweet_mean,comment_mean
0,AAPL,2015-01-16,14508,0.552529,0.664074,0.118066
1,AAPL,2015-02-20,43674,0.580656,0.569494,0.139502
2,AAPL,2015-03-20,42708,0.500023,0.500350,0.118108
3,AAPL,2015-04-17,26685,0.449074,0.439766,0.097524
4,AAPL,2015-05-15,32051,0.466478,0.415809,0.181444
...,...,...,...,...,...,...
290,TSLA,2019-08-16,19737,10.545790,1.647369,1.085467
291,TSLA,2019-09-20,21123,11.558816,1.888907,1.119495
292,TSLA,2019-10-18,20516,10.896159,1.477335,1.075981
293,TSLA,2019-11-15,25569,11.606386,1.695980,1.169661
294,TSLA,2019-12-20,31628,11.887997,1.838464,1.211627

In [124]:
tweets_agg["company_id"].unique()

array(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'TSLA'], dtype=object)

AND THAT'S HOW 4M TWEETS ARE FILTERED INTO 295 ROWS

In [123]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/twitter_stock_all'
engine = create_engine(connection_string)

In [126]:
#tweets_agg.to_sql('tweets_agg_2015_2020', engine, if_exists='append', index=False)