In [72]:
import pandas as pd #tablas https://pandas.pydata.org/docs/user_guide/pyarrow.html
import numpy as np #estadistica https://numpy.org/doc/1.25/user/index.html#user
import matplotlib.pyplot as plt #gráficos https://matplotlib.org/stable/plot_types/index.html
import seaborn as sns #gráficos https://seaborn.pydata.org/tutorial/regression.html
from sklearn import linear_model #modelo de regresion https://scikit-learn.org/stable/
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from datetime import datetime #https://docs.python.org/3/library/datetime.html
from datetime import timedelta #this is a good time to learn about dates and timestamps. You can find some info here:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import ttest_1samp
import scipy.stats as st
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.plotting import plot_decision_regions
from sqlalchemy import create_engine  # for establishing the connection and authentication
from getpass import getpass  # To get the password without showing the input

In [73]:
Company_tweet = pd.read_csv('Company_tweet.csv')
Company_tweet

                    tweet_id ticker_symbol
0         550803612197457920          AAPL
1         550803610825928706          AAPL
2         550803225113157632          AAPL
3         550802957370159104          AAPL
4         550802855129382912          AAPL
...                      ...           ...
4336440  1212158772015034369          TSLA
4336441  1212159099632267268          TSLA
4336442  1212159184931717120          TSLA
4336443  1212159838882533376          TSLA
4336444  1212160015332728833          TSLA

[4336445 rows x 2 columns]

In [74]:
Company_tweet.nunique()

tweet_id         3717964
ticker_symbol          6
dtype: int64

In [75]:
Company_tweet["tweet_id"].unique()

array([ 550803612197457920,  550803610825928706,  550803225113157632, ...,
       1212159184931717120, 1212159838882533376, 1212160015332728833])

In [76]:
Company_tweet = Company_tweet.drop_duplicates(subset=['tweet_id'])
Company_tweet

                    tweet_id ticker_symbol
0         550803612197457920          AAPL
1         550803610825928706          AAPL
2         550803225113157632          AAPL
3         550802957370159104          AAPL
4         550802855129382912          AAPL
...                      ...           ...
4336440  1212158772015034369          TSLA
4336441  1212159099632267268          TSLA
4336442  1212159184931717120          TSLA
4336443  1212159838882533376          TSLA
4336444  1212160015332728833          TSLA

[3717964 rows x 2 columns]

In [77]:
Company = pd.read_csv('Company.csv')
Company

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc
5          MSFT    Microsoft

We have Apple's, Google, Amzn and Microsoft tweets. We should keep Tesla, and then consider adding it in the Tesla/Musk tweets

In [78]:
Tweets = pd.read_csv('Tweet.csv')
Tweets

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [79]:
merged_df = pd.merge(Company_tweet, Tweets, on="tweet_id")

In [80]:
merged_df

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
0,550803612197457920,AAPL,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,550803610825928706,AAPL,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
2,550803225113157632,AAPL,MacHashNews,1420156696,Rumor Roundup: What to expect when you're expe...,0,0,0
3,550802957370159104,AAPL,WaltLightShed,1420156633,"An $AAPL store line in Sapporo Japan for the ""...",2,4,4
4,550802855129382912,AAPL,2waystrading,1420156608,$AAPL - Will $AAPL Give Second entry opportuni...,0,0,0
...,...,...,...,...,...,...,...,...
3717959,1212158772015034369,TSLA,StockJoke,1577836146,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
3717960,1212159099632267268,TSLA,sweetog76,1577836224,$TSLA Very Interesting dude:,0,0,0
3717961,1212159184931717120,TSLA,MelaynaLokosky,1577836245,If only 2020 brought more self-awareness to Te...,0,1,0
3717962,1212159838882533376,TSLA,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
3717963,1212160015332728833,TSLA,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5

In [81]:
merged_df.isna().sum()

tweet_id             0
ticker_symbol        0
writer           47273
post_date            0
body                 0
comment_num          0
retweet_num          0
like_num             0
dtype: int64

In [82]:
company_tweets = merged_df.fillna(0)

In [83]:
company_tweets

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
0,550803612197457920,AAPL,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,550803610825928706,AAPL,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
2,550803225113157632,AAPL,MacHashNews,1420156696,Rumor Roundup: What to expect when you're expe...,0,0,0
3,550802957370159104,AAPL,WaltLightShed,1420156633,"An $AAPL store line in Sapporo Japan for the ""...",2,4,4
4,550802855129382912,AAPL,2waystrading,1420156608,$AAPL - Will $AAPL Give Second entry opportuni...,0,0,0
...,...,...,...,...,...,...,...,...
3717959,1212158772015034369,TSLA,StockJoke,1577836146,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
3717960,1212159099632267268,TSLA,sweetog76,1577836224,$TSLA Very Interesting dude:,0,0,0
3717961,1212159184931717120,TSLA,MelaynaLokosky,1577836245,If only 2020 brought more self-awareness to Te...,0,1,0
3717962,1212159838882533376,TSLA,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
3717963,1212160015332728833,TSLA,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5

In [84]:
company_tweets["post_date"].describe()

count    3.717964e+06
mean     1.498582e+09
std      4.587266e+07
min      1.420070e+09
25%      1.459778e+09
50%      1.497289e+09
75%      1.539358e+09
max      1.577837e+09
Name: post_date, dtype: float64

In [85]:
from datetime import datetime, timedelta

In [86]:
company_tweets["post_date"] = [datetime(1970, 1, 1) + timedelta(seconds=epoch) for epoch in company_tweets["post_date"]]

In [87]:
company_tweets

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
0,550803612197457920,AAPL,SentiQuant,2015-01-01 23:59:49,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,550803610825928706,AAPL,SentiQuant,2015-01-01 23:59:48,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
2,550803225113157632,AAPL,MacHashNews,2015-01-01 23:58:16,Rumor Roundup: What to expect when you're expe...,0,0,0
3,550802957370159104,AAPL,WaltLightShed,2015-01-01 23:57:13,"An $AAPL store line in Sapporo Japan for the ""...",2,4,4
4,550802855129382912,AAPL,2waystrading,2015-01-01 23:56:48,$AAPL - Will $AAPL Give Second entry opportuni...,0,0,0
...,...,...,...,...,...,...,...,...
3717959,1212158772015034369,TSLA,StockJoke,2019-12-31 23:49:06,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
3717960,1212159099632267268,TSLA,sweetog76,2019-12-31 23:50:24,$TSLA Very Interesting dude:,0,0,0
3717961,1212159184931717120,TSLA,MelaynaLokosky,2019-12-31 23:50:45,If only 2020 brought more self-awareness to Te...,0,1,0
3717962,1212159838882533376,TSLA,ShortingIsFun,2019-12-31 23:53:21,In 2020 I may start Tweeting out positive news...,0,0,1
3717963,1212160015332728833,TSLA,Commuternyc,2019-12-31 23:54:03,Patiently Waiting for the no twitter sitter tw...,0,0,5

In [88]:
company_tweets["post_date"].describe()

/var/folders/dm/hhj01rls7tz3g5v4m3hhj1bw0000gn/T/ipykernel_60816/1837066247.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  company_tweets["post_date"].describe()

count                 3717964
unique                3421363
top       2015-02-26 18:30:24
freq                       37
first     2015-01-01 00:00:57
last      2019-12-31 23:55:53
Name: post_date, dtype: object

In [89]:
company_tweets["post_date"]= [
    dt.replace(hour=0, minute=0, second=0, microsecond=0)
    for dt in company_tweets["post_date"]
]

In [90]:
company_tweets

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
0,550803612197457920,AAPL,SentiQuant,2015-01-01,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,550803610825928706,AAPL,SentiQuant,2015-01-01,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
2,550803225113157632,AAPL,MacHashNews,2015-01-01,Rumor Roundup: What to expect when you're expe...,0,0,0
3,550802957370159104,AAPL,WaltLightShed,2015-01-01,"An $AAPL store line in Sapporo Japan for the ""...",2,4,4
4,550802855129382912,AAPL,2waystrading,2015-01-01,$AAPL - Will $AAPL Give Second entry opportuni...,0,0,0
...,...,...,...,...,...,...,...,...
3717959,1212158772015034369,TSLA,StockJoke,2019-12-31,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
3717960,1212159099632267268,TSLA,sweetog76,2019-12-31,$TSLA Very Interesting dude:,0,0,0
3717961,1212159184931717120,TSLA,MelaynaLokosky,2019-12-31,If only 2020 brought more self-awareness to Te...,0,1,0
3717962,1212159838882533376,TSLA,ShortingIsFun,2019-12-31,In 2020 I may start Tweeting out positive news...,0,0,1
3717963,1212160015332728833,TSLA,Commuternyc,2019-12-31,Patiently Waiting for the no twitter sitter tw...,0,0,5

In [91]:
company_tweets.rename(columns={'ticker_symbol': "company_id"}, inplace=True)

In [92]:
company_tweets

,tweet_id,company_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550803612197457920,AAPL,SentiQuant,2015-01-01,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,550803610825928706,AAPL,SentiQuant,2015-01-01,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
2,550803225113157632,AAPL,MacHashNews,2015-01-01,Rumor Roundup: What to expect when you're expe...,0,0,0
3,550802957370159104,AAPL,WaltLightShed,2015-01-01,"An $AAPL store line in Sapporo Japan for the ""...",2,4,4
4,550802855129382912,AAPL,2waystrading,2015-01-01,$AAPL - Will $AAPL Give Second entry opportuni...,0,0,0
...,...,...,...,...,...,...,...,...
3717959,1212158772015034369,TSLA,StockJoke,2019-12-31,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
3717960,1212159099632267268,TSLA,sweetog76,2019-12-31,$TSLA Very Interesting dude:,0,0,0
3717961,1212159184931717120,TSLA,MelaynaLokosky,2019-12-31,If only 2020 brought more self-awareness to Te...,0,1,0
3717962,1212159838882533376,TSLA,ShortingIsFun,2019-12-31,In 2020 I may start Tweeting out positive news...,0,0,1
3717963,1212160015332728833,TSLA,Commuternyc,2019-12-31,Patiently Waiting for the no twitter sitter tw...,0,0,5

In [93]:
company_tweets["company_id"].unique()

array(['AAPL', 'GOOG', 'GOOGL', 'AMZN', 'MSFT', 'TSLA'], dtype=object)

In [94]:
company_tweets["company_id"] = company_tweets["company_id"].str.replace('GOOGL', 'GOOG')

In [95]:
company_tweets["company_id"].unique()

array(['AAPL', 'GOOG', 'AMZN', 'MSFT', 'TSLA'], dtype=object)

In [96]:
company_tweets.shape

(3717964, 8)

In [97]:
password = getpass()

In [98]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/raw_data'
engine = create_engine(connection_string)

In [100]:
#company_tweets.to_sql('company_tweets_raw_2015-2020', engine, if_exists='append', index=False)

3717964